* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Applies box-sizing globally */
}

.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    font-size: 2em;
    color: white;
    pointer-events: none;
}
.header {
    min-height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/bg1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.header-text h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background:#EEC373;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 13.3px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
    outline: none;
    background-color: #f0eeee;
}

.search__input::placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: 0.1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}
.menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 36px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#A79E9C; 
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
    width: 14px;
    height: 14px;
    fill: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
    position: relative;
}

.menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #cccccc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
}

.menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border-color:#EEC373;
}

.menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
}

.menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
}

.submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
}

.submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color:#282936 ;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
}

.submenu .submenu-link:hover {
    color: #ffffff;
}
.search {
    display: flex;
    align-items: center;
    margin-left: 25px; /* Add some space between nav links and search bar */
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus + .search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}




.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 100px;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 100px;
}

.text-box h1 {
    font-size: 30px;
    color: #fff;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

/* Style the form */
#regForm {
    background-color: #aaa;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    margin: 20px 0 10px;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    margin: 10px 0 10px;
    display: none;
    padding-bottom: 3px;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    margin: 20px 0 20px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
.instructions h2{
    width: 100%;
    color: black;
 
    text-align: center;
    padding-top: 90px;
}
.instructions p{
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 30px;
}
.parent-container {
    text-align: center; /* Center the inline-block element */
    margin-top: 30px; /* Optional: Add some margin from the top */
}

.text-container {
    border: 2px solid black; /* Border around the text */
    background-color: lightgrey; /* Background color */
    padding: 10px; /* Space between text and border */
    width: 60%; /* Set a specific width */
    display: inline-block; /* Adjust the element size to fit the text */
}
.terms h3 {
    width: 100%;
    color: black;
    text-align: left; /* Align text to the left */
    padding-top: 10px;
    padding-left: 200px;
}

.terms p {
    width: 85%;
    color: black;
    text-align: left; /* Align text to the left */
    padding-top: 10px;
    padding-bottom: 110px;
    padding-left: 200px;
    text-align: justify;
}

